.menuItem{
    position: relative;
    width: 100%;
    height: 20%;
    display: table;
}

.titleMenu{
    text-align: center;
    vertical-align: middle;
    display: table-cell;
}

.focusedItem{
    background-color: #ffffff;
    color: #000000;
}