.app {
  margin: 0;
	padding: 0;
  position:relative;
  font-family: Arial;
  color: #f1f1f1;
  background-image: url("https://s2.glbimg.com/1liph2qog-AGmgGI0hXMckn_Yb4=/0x720/https://s2.glbimg.com/T7K_c4W_to0gJiNRgJIBpJVBf2I=/i.s3.glbimg.com/v1/AUTH_c3c606ff68e7478091d1ca496f9c5625/internal_photos/bs/2020/u/a/WCTZoCS3ulpaPbztyTlw/2020-748-realities-big-brother-brasil-20-tv-globo-background.jpg");
  background-repeat: no-repeat;
  background-size: contain;
  background-blend-mode: exclusion;
  background-color: #666768;
}

.logoApp{
  position: absolute;
  right: 5%;
  top: 5%;
  width: 10%;
  height: 5%;
  font-weight: 600;
}

/*HD screen*/
@media screen and (max-width: 1280px){
  .app{width: 1280px; height: 720px;}
  .logoApp{font-size: 26.66px;}
  .titleMenu{font-size: 23.33px;}
  .descriptionProg{font-size: 25.33px;}
  .buttonProg{font-size: 26.66px;}
  .titleListVideos{font-size: 23.33px;}
  .categoriaVideo{font-size: 18.66px;}
}

/*Full HD screen*/
@media screen and (min-width: 1281px){
  .app{width: 1920px; height: 1080px;}
  .logoApp{font-size: 40px;}
  .titleMenu{font-size: 35px;}
  .descriptionProg{font-size: 38px;}
  .buttonProg{font-size: 40px;}
  .titleListVideos{font-size: 35px;}
  .categoriaVideo{font-size: 28px;}
}